node_modules/
public/app.bundle.js
public/app.bundle.js.map
workspace/.cvstudio.json
workspace/*.aux
workspace/*.fdb_latexmk
workspace/*.fls
workspace/*.log
workspace/*.out
workspace/*.pdf
workspace/*.synctex.gz
workspace/**/*.aux
workspace/**/*.fdb_latexmk
workspace/**/*.fls
workspace/**/*.log
workspace/**/*.out
workspace/**/*.pdf
workspace/**/*.synctex.gz
.DS_Store
release/
desktop/assets/icon.iconset/
desktop/assets/icon.svg.png
